<h1>Car Entry</h1>
<form action="/view_all_cars">
  <label for="new-car">Add a new car make and model</label>
  <input id="new-car" name="new-car" type="text">
  <button type="submit">Submit</button>
</form>
